In [6]:
import pandas as pd

import sqlite3
conn = sqlite3.connect('database.sqlite')
cur = conn.cursor()

In [7]:
cur.execute("""SELECT * FROM matches;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df.head(10)

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1,D2,2009,2010-04-04,Oberhausen,Kaiserslautern,2,1,H
1,2,D2,2009,2009-11-01,Munich 1860,Kaiserslautern,0,1,A
2,3,D2,2009,2009-10-04,Frankfurt FSV,Kaiserslautern,1,1,D
3,4,D2,2009,2010-02-21,Frankfurt FSV,Karlsruhe,2,1,H
4,5,D2,2009,2009-12-06,Ahlen,Karlsruhe,1,3,A
5,6,D2,2009,2010-04-03,Union Berlin,Karlsruhe,1,1,D
6,7,D2,2009,2009-08-14,Paderborn,Karlsruhe,2,0,H
7,8,D2,2009,2010-03-08,Bielefeld,Karlsruhe,0,1,A
8,9,D2,2009,2009-09-26,Kaiserslautern,Karlsruhe,2,0,H
9,10,D2,2009,2009-11-21,Hansa Rostock,Karlsruhe,2,1,H

In [8]:
query="""SELECT * FROM Teams;"""
cur.execute(query)
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df.head(10)

,Season,TeamName,KaderHome,AvgAgeHome,ForeignPlayersHome,OverallMarketValueHome,AvgMarketValueHome,StadiumCapacity
0,2017,Bayern Munich,27,26,15,597950000,22150000,75000
1,2017,Dortmund,33,25,18,416730000,12630000,81359
2,2017,Leverkusen,31,24,15,222600000,7180000,30210
3,2017,RB Leipzig,30,23,15,180130000,6000000,42959
4,2017,Schalke 04,29,24,17,179550000,6190000,62271
5,2017,M'gladbach,31,25,17,154400000,4980000,54014
6,2017,Wolfsburg,31,24,14,124430000,4010000,30000
7,2017,FC Koln,24,26,9,118550000,4940000,49968
8,2017,Hoffenheim,31,24,14,107330000,3460000,30164
9,2017,Hertha,26,26,12,86800000,3340000,74475

In [12]:
query="""SELECT * FROM Unique_Teams;"""
cur.execute(query)
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df.head(10)

        TeamName  Unique_Team_ID
0  Bayern Munich               1
1       Dortmund               2
2     Leverkusen               3
3     RB Leipzig               4
4     Schalke 04               5
5     M'gladbach               6
6      Wolfsburg               7
7        FC Koln               8
8     Hoffenheim               9
9         Hertha              10

In [14]:
query="""SELECT * FROM Teams_in_Matches;"""
cur.execute(query)
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df.head(10)

   Match_ID  Unique_Team_ID
0         1              26
1         1              46
2         2              26
3         2              42
4         3              26
5         3              44
6         4              29
7         4              44
8         5              29
9         5              49

In [1]:
import json

def get_keys(path):
    with open(path) as f:
        return json.load(f)

In [3]:
keys = get_keys("/Users/abigailsixto/.secret/DarkSky_API.json")

api_key = keys['api_key']

In [27]:
import requests
from datetime import timezone

#Format of the required request
# https://api.darksky.net/forecast/[key]/[latitude],[longitude],[time]
latitude= 52.5200
longitude= 13.4050
time_location="2020-01-01"

dt = datetime(2020,1,25)
timestamp = int((dt - datetime(1970, 1, 1)).total_seconds())
timestamp += 12*3600
#It returns timestamp at 12am so 12hours added to make it 12 pm 12*3600seconds 
print (timestamp)

url= "https://api.darksky.net/forecast/{}/{},{},{}?exclude=currently,minutely,hourly,alerts,flags".format(api_key,latitude,longitude,timestamp)
print(url)
response = requests.get(url)
print(response)
print(type(response.text))
print(response.text[:1000])

1579953600
https://api.darksky.net/forecast/dd7d6c1ab7a76a02ba270d0138ef43bf/52.52,13.405,1579953600?exclude=currently,minutely,hourly,alerts,flags
<Response [200]>
<class 'str'>
{"latitude":52.52,"longitude":13.405,"timezone":"Europe/Berlin","daily":{"data":[{"time":1579906800,"summary":"Mostly cloudy throughout the day.","icon":"partly-cloudy-day","sunriseTime":1579935600,"sunsetTime":1579966740,"moonPhase":0.03,"precipIntensity":0.0003,"precipIntensityMax":0.0007,"precipIntensityMaxTime":1579927800,"precipProbability":0.14,"precipType":"rain","temperatureHigh":38.56,"temperatureHighTime":1579960560,"temperatureLow":27.32,"temperatureLowTime":1580010960,"apparentTemperatureHigh":34.07,"apparentTemperatureHighTime":1579960920,"apparentTemperatureLow":22.72,"apparentTemperatureLowTime":1580011020,"dewPoint":28.91,"humidity":0.8,"pressure":1021.7,"windSpeed":5.34,"windGust":15.7,"windGustTime":1579909080,"windBearing":235,"cloudCover":0.7,"uvIndex":1,"uvIndexTime":1579951260,"visibility":10,"ozone":266.1,"temperatureMin":31.87,"temperatureMinTime":1579909560,"temperatureMax":38.56,"temperatureMaxTime":1579960560,"apparentTemperatureMin":26.59,"apparentTemperatur

In [33]:
data = response.json()
print(type(data))
print(data.keys())

<class 'dict'>
dict_keys(['latitude', 'longitude', 'timezone', 'daily', 'offset'])

In [45]:
print(data['daily'].keys())
data['daily']

dict_keys(['data'])

{'data': [{'time': 1579906800,
   'summary': 'Mostly cloudy throughout the day.',
   'icon': 'partly-cloudy-day',
   'sunriseTime': 1579935600,
   'sunsetTime': 1579966740,
   'moonPhase': 0.03,
   'precipIntensity': 0.0003,
   'precipIntensityMax': 0.0007,
   'precipIntensityMaxTime': 1579927800,
   'precipProbability': 0.14,
   'precipType': 'rain',
   'temperatureHigh': 38.56,
   'temperatureHighTime': 1579960560,
   'temperatureLow': 27.32,
   'temperatureLowTime': 1580010960,
   'apparentTemperatureHigh': 34.07,
   'apparentTemperatureHighTime': 1579960920,
   'apparentTemperatureLow': 22.72,
   'apparentTemperatureLowTime': 1580011020,
   'dewPoint': 28.91,
   'humidity': 0.8,
   'pressure': 1021.7,
   'windSpeed': 5.34,
   'windGust': 15.7,
   'windGustTime': 1579909080,
   'windBearing': 235,
   'cloudCover': 0.7,
   'uvIndex': 1,
   'uvIndexTime': 1579951260,
   'visibility': 10,
   'ozone': 266.1,
   'temperatureMin': 31.87,
   'temperatureMinTime': 1579909560,
   'temperatureMax': 38.56,
   'temperatureMaxTime': 1579960560,
   'apparentTemperatureMin': 26.59,
   'apparentTemperatureMinTime': 1579909320,
   'apparentTemperatureMax': 34.07,
   'apparentTemperatureMaxTime': 1579960920}]}

In [62]:
rainy_data = {}
rainy_data['icon'] = data['daily']['data'][0]['icon']

rainy_data['precipIntensity']= data['daily']['data'][0]['precipIntensity']
rainy_data

{'icon': 'partly-cloudy-day', 'precipIntensity': 0.0003}

In [64]:
#It will be considered a rainy day if 'icon' shows rainy and precipitation > 1
def rainyday (rainy_data):
    rainy = False
    if rainy_data['icon']=='rainy'and rainy_data['precipIntensity'] > 1:
            rainy = True
            
    return rainy

In [65]:
rainyday(rainy_data)

False